<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		Ijoic3dpZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLCJsb2NhdGlvbiI6
		eyJyZW1vdGUiOlsiaHR0cHM6XC9cL2dpdGh1Yi5jb21cL3BvaW50ZnJlZWNv
		XC9zd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSJdfSwicHJvZHVjdEZp
		bHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsiZXhhY3QiOlsiMC40NS4wIl19
		fV19XSwiZGlzcGxheU5hbWUiOiJkb3RmaWxlcyIsInBhY2thZ2VLaW5kIjp7
		InJvb3QiOnt9fSwicGxhdGZvcm1zIjpbeyJvcHRpb25zIjpbXSwicGxhdGZv
		cm1OYW1lIjoiaW9zIiwidmVyc2lvbiI6IjE2LjAifV0sInByb2R1Y3RzIjpb
		eyJuYW1lIjoiZG90ZmlsZXMiLCJzZXR0aW5ncyI6W3siYnVuZGxlSWRlbnRp
		ZmllciI6WyJjb20uZG90ZmlsZXMuanVsaW9mcnV0YS5hcHAiXX0seyJ0ZWFt
		SWRlbnRpZmllciI6WyJWOVFQQTI3NkM3Il19LHsiZGlzcGxheVZlcnNpb24i
		OlsiMC4xIl19LHsiYnVuZGxlVmVyc2lvbiI6WyIxOCJdfSx7ImlPU0FwcElu
		Zm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNldENv
		bG9yIjp7InJhd1ZhbHVlIjoibWludCJ9fX0sImFwcENhdGVnb3J5Ijp7InJh
		d1ZhbHVlIjoicHVibGljLmFwcC1jYXRlZ29yeS51dGlsaXRpZXMifSwiYXBw
		SWNvbiI6eyJhc3NldCI6eyJuYW1lIjoiQXBwSWNvbiJ9fSwiY2FwYWJpbGl0
		aWVzIjpbeyJwdXJwb3NlIjoiZmFjZUlEIiwicHVycG9zZVN0cmluZyI6Iktl
		ZXAgeW91ciBwZXJzb25hbCBkYXRhIHNlY3VyZSB3aXRoIEZhY2UgSUQifV0s
		InN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBhZCIsInBob25lIl0sInN1
		cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6W3sicG9ydHJhaXQiOnt9
		fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5kc2NhcGVMZWZ0Ijp7fX0s
		eyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0aW9uIjp7ImRldmljZUZh
		bWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdldHMiOlsiQXBwTW9kdWxl
		Il0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19XSwidGFyZ2V0TWFwIjp7
		IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOlt7InByb2R1Y3QiOlsiQ29t
		cG9zYWJsZUFyY2hpdGVjdHVyZSIsInN3aWZ0LWNvbXBvc2FibGUtYXJjaGl0
		ZWN0dXJlIixudWxsLG51bGxdfSx7InByb2R1Y3QiOlsiRGVwZW5kZW5jaWVz
		Iiwic3dpZnQtY29tcG9zYWJsZS1hcmNoaXRlY3R1cmUiLG51bGwsbnVsbF19
		XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIs
		InJlc291cmNlcyI6W3sicGF0aCI6IlJlc291cmNlcyIsInJ1bGUiOnsicHJv
		Y2VzcyI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFibGUi
		fX0sInRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJD
		b21wb3NhYmxlQXJjaGl0ZWN0dXJlIiwic3dpZnQtY29tcG9zYWJsZS1hcmNo
		aXRlY3R1cmUiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJEZXBlbmRlbmNp
		ZXMiLCJzd2lmdC1jb21wb3NhYmxlLWFyY2hpdGVjdHVyZSIsbnVsbCxudWxs
		XX1dLCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIu
		IiwicmVzb3VyY2VzIjpbeyJwYXRoIjoiUmVzb3VyY2VzIiwicnVsZSI6eyJw
		cm9jZXNzIjp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhlY3V0YWJs
		ZSJ9XSwidG9vbHNWZXJzaW9uIjp7Il92ZXJzaW9uIjoiNS43LjAifX0=
		</data>
		<key>manifestHash</key>
		<data>
		5go40/j2PPQQOFNCZd7wsapfi7aAx7EH+YVw43hNSxI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
